<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="http://localhost:4000/css/index.css"> -->
    <link rel="stylesheet" href="/resources/boostrap/bootstrap.min.css">
    <script src="/resources/boostrap/bootstrap.min.js"></script>
    <script src="/resources/boostrap/jquery.slim.min.js"></script>
    <script src="/resources/boostrap/popper.min.js"></script>
    <link rel="stylesheet" href="/resources/css/index.css">
    <title>Inicio de sesion - IngressCloud</title>
</head>

<body>
    <!-- <header class="inicio">
        <form action="/save10" method="POST" id="form">
        <div class="form">
            <h1>Inicia sesión</h1><br><br>
            </div>
            <div class="grupo">
                <input type="email" name="email" id="email" required><span class="barra"></span>
                <label for="">Correo</label>
            </div>
            <div class="grupo">
            <input type="text" name="password" id="password" required><span class="barra"></span>
            <label for="">Contraseña</label>
            </div>
            <button type="submit">Crear</button>
        </div>
    </form>
    </header> -->

    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " href="#">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Prestamos</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Herramientas</a>
            <a class="dropdown-item" href="#">Ambientes</a>
            <a class="dropdown-item" href="#">Materiales</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>

</body>

</html>